.section4 {
    margin: 0 auto; /* HACK to center it */
    width: 100vw;
}

.section4 > .background {
    width: 100vw;
    position: absolute;
    z-index: -1;
}

.section4 > .namesSection {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section4 > .namesSection > .mainColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4 > .namesSection > .mainColumn > .fakeRow1 {
    height: 10vw;
    width: 100%;
}

.section4 > .namesSection > .mainColumn > .fakeRow2 {
    height: 0vw;
    width: 100%;
}

.section4 > .namesSection > .mainColumn > .fakeRow3 {
    height: 4vw;
    width: 100%;
}

.section4 > .namesSection > .mainColumn > .mainRow {
    align-self: center;
}

.section4 > .namesSection > .mainColumn > .mainRow > img {
    width: 35vw;
}

.section4 > .namesSection > .mainColumn > .mainRow > .namesConnector {
    line-height: 0vw;
}

.section4 > .namesSection > .mainColumn > .mainRow > .namesConnector > .separator {
    width: 10vw;
    display: inline-block;
}

.section4 > .namesSection > .mainColumn > .weGetMarried {
    font-family: "LOVE HEWITS", Sans-serif;
    font-weight: 300;
    font-size: 15vw;
}

.section4 > .namesSection > .mainColumn > .dressCode {
    font-family: "Cormorant Garamond", Sans-serif;
    color: black;
    font-size: 10vw;
    font-weight: 500;
    margin-bottom: -3vw;
}

.section4 > .namesSection > .mainColumn > .dressCodeSpa {
    font-family: "Cormorant Garamond", Sans-serif;
    color: black;
    font-size: 4.5vw;
    font-weight: 500;
}

.section4 > .namesSection > .mainColumn > .dressCodeSpaNotSelected {
    font-family: "Cormorant Garamond", Sans-serif;
    color: #99999999;
    font-size: 4.5vw;
    font-weight: 500;
}

.section4 > .namesSection > .mainColumn > .dressCodePlanification {
    font-family: "Cormorant Garamond", Sans-serif;
    color: black;
    font-size: 4.5vw;
    font-weight: 300;
    line-height: 5vw;
    text-align: center;
    padding: 0 6vw;
}

.section4 > .namesSection > .mainColumn > .dressCodeSeparator {
    font-family: cursive;
    color: black;
    font-size: 4vw;
    font-weight: 500;
}

.section4 > .namesSection > .mainColumn > .address {
    font-family: "Bodoni Moda", sans-serif;
    color: #A7727D;
    font-size: 4vw;
    font-weight: 300;
}

.section4 > .namesSection > .mainColumn > .hour {
    font-family: "Bodoni Moda", sans-serif;
    font-size: 4vw;
    font-weight: 300;
    margin-bottom: 5vw;
}

.section4 > .namesSection > .mainColumn > .seeLocation {
    font-family: "Bodoni Moda", Sans-serif;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #A7727D;
    border-style: solid;
    border-color: #EDDBC7;
    padding: 2vw;
    font-size: 4vw;
}