.current-song {
  grid-area: current-song;
}

.music-code {
  grid-area: music-code;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 15vh;
}

.song-queue {
  grid-area: song-queue;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: 20%;
  grid-template-areas: 
    "current-song music-code"
    "current-song song-queue"
    "current-song song-queue"
    "current-song song-queue"
    "current-song song-queue";
}

.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(50px + 2vmin);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .SongRow-image {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-content {
  z-index: 1;
}

.SongRow {
  border-radius: 5px;
  background-color: #181818;
  padding: 20px;
  min-height: inherit;
  display: flex;
  flex-direction: column;
}

.SongRow-song-info {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  flex-grow: 1;
}

.song-name {
  font-size: 4vh;
}

.song-artist {
  margin-top: 1vh;
  font-size: 3.5vh;
}

.song-requester {
  margin-top: 2vh;
  font-size: 2vh;
}

.song-requester {
  margin-bottom: 10px;
  font-size: calc(10px + 2vmin);
  display: flex;
  justify-content: center;
  border-radius: 5px;
  padding: 0px 5px 5px 5px;
  margin-bottom: 10px;
}

.SongRow-image {
  border-radius: 100%;
  width: 100%;
}

.Queued-song {
  display: flex;
  border-radius: 5px;
  background-color: #181818;
  padding: 2vh;
  margin: 2vh 0 2vh 2vh;
}

.Queued-song-info {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  flex-grow: 1;
}

.Queued-song-name {
  font-size: 4vh;
}

.Queued-song-artist {
  margin-top: 1vh;
  font-size: 3.5vh;
}

.Queued-song-requester {
  margin-top: 1.5vh;
  font-size: 2vh;
}

.Queued-song-image {
  height: 20vh;
}

.Queue-next {
  font-size: calc(8px + 2vmin);
  justify-content: center;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.Queued-songs-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.Queued-songs-no-songs {
  font-size: 10vh;
}

.Queued-songs-container {
  display: flex;
  flex-direction: column;
}

.songs-container {
  min-height: 100vh;
}