.App {
  text-align: center;
}

.App-logo {
  height: 100%;
  pointer-events: none;
  position: absolute;
  opacity: 0.4;
  height: 100%;
  z-index: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-content {
  z-index: 1;
}

.SongRow {
  display: flex;
  border-radius: 5px;
  background-color: #181818;
  padding: 20px;
  min-width: 600px;
  max-width: 800px;
  height: 150px;
}

.SongRow-song-info {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  flex-grow: 1;
}

.song-name {
  font-size: calc(25px + 2vmin);
}

.song-artist {
  font-size: calc(20px + 2vmin);
}

.song-requester {
  margin-bottom: 10px;
  font-size: calc(10px + 2vmin);
}

.SongRow-image {
  height: 100%;
}

.playing-now {
  
}

.code-container {
  display: flex;
  justify-content: center;
}

.code-text {
  border-radius: 5px;
  background-color: #181818;
  padding: 0px 5px 5px 5px;
  margin-bottom: 10px;
}

.Queued-song {
  display: flex;
  border-radius: 5px;
  background-color: #181818;
  padding: 10px;
  width: 300px;
  height: 80px;
}

.Queued-song-info {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  flex-grow: 1;
}

.Queued-song-name {
  font-size: 18px;
}

.Queued-song-artist {
  font-size: 12px;
}

.Queued-song-image {
  height: 100%;
}

.Queue-next {
  font-size: calc(8px + 2vmin);
}

.Queued-songs-list {
  display: flex;
  justify-content: space-evenly;
}